@media screen and (min-width: 601px) {
  .buttonStyle {
    width: 200px;
    height: 70px;
    border-radius: 15px;
    margin: 10px;
    background-color: blue;
    border: none;
  }
}
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
.backgroundImage {
  background-size: cover;
  height: 710px;
  background-image: url("/web-page/images/Calendar-background-image.png");
}
.buttonStyle {
  width: 200px;
  height: 70px;
  border-radius: 15px;
  margin: 10px;
  background-color: red;
  border: none;
}
.buttonStyle:hover {
  /*fix the hover effect and make it work*/
  box-shadow: 10px 10px 5px rgba(green, 32, 00, 0.5);
}
.buttonText {
  color: white;
}
.form-login-heading {
  margin-top: 40px;
  color: white;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.font-color {
  color: white;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  /*these two are for the input box*/
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
input[type="password"] {
  /*these three should centre
                       as well as 30%for full screen width*/
  width: 70%;
}
input[type="email"] {
  width: 70%;
}
input[type="text"] {
  width: 70%;
}
.errorMessage {
  color: red;
  font-weight: 600;
}
